h1 {
    font-family: Cabin Sketch, Calibri, sans-serif;
    font-size: 500%;
    color: rgb(192,0,0);
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0;
}

h2 {
    font-family: Cabin Sketch, Calibri, sans-serif;
    color: rgb(192,0,0);
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-align: center;
}

body {
    font-family: 'Architects Daughter','Calibri','sans-serif';
    font-size: 150%;
    margin-top: 0;
    min-height: 800px;
}


.hide {
    display: none;
}



/* Rules Column */

#rules {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-style: solid;
    padding:0.5em;
    border-color: black;
    width: 50%;
    background-image: url("/images/close-button.svg");
    background-size: 0.8em;
    background-position: right 0.2em top 0.1em;
    background-repeat: no-repeat;
}

#rulesTitle {
    font-size: 80%;
    background-image: url("/images/mono-kdevelop-down.svg");
    background-size: 1em;
    background-position: right 0.2em top 0.1em;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5em; 
    margin-bottom: 0.5em;
    width: 150px;
}

#rules ul {
    display: inline-block;
    text-align: left;
    margin: 0;
}

#outerUL {
    padding-left: 1.5em;
}

#innerUL {
    padding-left: 2em;
}

#ruleContents {
    font-size: 70%;
}

#large {
    display: none;
}



/* Game Grid & Cells */

#gridContainer {
    margin-top: 3.5em;
}

#gameContainer {
    text-align: center;
    margin-top: 0.5em;
    vertical-align: top;
}

#gameContainer li {
    list-style: none;
}

#gameContainer ul {
    padding: 0;
    margin: 0;;
}

.cells {
    border: thin solid;
    display: inline-block;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin: 0.1em;
    padding: 0.75em;
    vertical-align: middle;
    text-align: center;
    font-size: 190%;
    text-transform: uppercase;
    font-family: 'Architects Daughter','Calibri','sans-serif';
}

.correct {
    transition: background-color 5s ease;
    background-color: white;
    border-color: white;
}

.partial {
    transition: background-color 5s ease;
    background-color: rgb(218,165,32);
    color: white;
}

.wrong {
    transition: background-color 5s ease;
    background-color: rgb(64,64,64);
    color: white;
}

.letters {
    text-transform: uppercase;
}



/* Eliminated Letters & Explain Guess*/

#gridCol3 {
    text-align: center;
}

#eliminated, #explainGuess {
    display: inline-block;
    border-style: solid;
    border-color: black;
    height: 160px;
    width: 40%;
    padding: 0.5em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    vertical-align: top;  
}

#eliminated.hide, #explainGuess.hide {
    display: none;
}

#explainText{
    font-size: 60%;
}

#elimLetterHolder {
    list-style: none;
    text-transform: uppercase;
    font-size: 100%;
}



/* Debug & Messages */

#debugBtnWrapper {
   text-align: right;
}

#debug {
    height: 40px;
    font-size: 80%;
}

#answerBox, #debugMsg {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#answer {
    text-transform: uppercase;
}

#answerBox {
    height: 30px;
    font-size: 50%;
    background-image: url("/images/close-button.svg");
    background-size: 0.8em;
    background-position: right 0.2em top 0.1em;
    background-repeat: no-repeat;
    padding-top: 1.2em;
}

#debugMsg {
    width: 130px;
    border: thin solid;
    background-color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 60%;
    font-style: italic;
}

#debugMsg p {
    margin-top: 0;
}

#msgContainer{
    position:relative;

}

#msgBox {
   position: absolute;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
   margin-top: 5em;
   width: 350px;
   font-size: 120%;
   text-align: center;
   padding: 0.5em;
   padding-bottom: 1.5em;
   background-color: white;
   border: thin solid;
}

#msgBox p {
   margin-top: 0;
   margin-bottom: 1.5em;
}

#msgBox li {
   list-style: none ;
}

#msgBox ul {
   padding: 0;
   margin-bottom: 0.5em;
   font-weight: bold;
}



/* Buttons */

#playAgainBtnWrapper {
    text-align: center;
    vertical-align: top;
}

#playAgain, #close {
    background-color: rgb(192,0,0);
    font-family: 'Architects Daughter','Calibri','sans-serif';
    color: white;
    text-align: center;
    vertical-align: top;
}

 #playAgain {
    font-size: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
 }

 #close {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
    margin: auto;
    width: 50px;
    padding: 0.5em;
 }



 /* Keyboard */

#onScreenKB {
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

.keys {
    margin: 0.3em;
    height: 60px;
    padding: 0.3em;
    vertical-align: middle;
    min-width: 60px;
    font-size: 120%;
    color: white;
    background-color: black;
    font-family: 'Architects Daughter','Calibri','sans-serif';
}

.blackout{
    color: rgb(90,90,90)
}

.good {
    color: black;
    background-color: white
}

.maybe {
    background-color: rgb(218,165,32);
}



/* Animation */

#winMsg span {
    animation-name: wobb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 400ms;
    display: inline-block;
    transform: translateY(0px);
}

#winMsg {
    margin: 0;
    font-size: 180%;
}

@keyframes wobb {
    0%, 100% {transform: translateY(0px)}
    25% {transform: translateY(-2px)}
    75% {transform: translateY(2px)}
}

 @media (min-width: 600px) {

    #explainGuess, #eliminated {
        height: 200px;
    }

    #explainText {
        font-size: 80%;
    }

    #elimLetterHolder {
        font-size: 110%;
    }

    #answerBox {
        font-size: 70%;
    }
 }

 @media (min-width: 810px) {
    #explainGuess, #eliminated {
        width: 30%;
    }
 }


 @media (min-width: 1000px) {
     
     h1{
        font-size:300%;
     }
     
     /* Debug */

     #debug {
        height: 20px;
        font-size: 50%;
    }
     
     #debugMsg {
        font-size:50%;
     }

     /* Game */

     #gridContainer {
        display: grid;
        margin-top: 0;
        grid-template-columns: 30% 40% 30%;
    }

    .cells {
        width: 55px;
        height: 55px;
        vertical-align: middle;
        padding: 0.15em;
        font-size: 140%;
    }
 
    /* Rules */

    #rules {
        background-image: none;
        border-style: none;
        width: 100%;
        display: inline;
    }

    #ruleContents {
        font-size: 60%;
        margin-top: 0;
        padding-left: 1.5em;
    }

    #rulesTitle {
        display: none;
    }

    #small {
        display: none;
    }

    #large {
        display: list-item;
    }

    /* Explanation & Elim Letters */

    #explainGuess {
        display: block;
        width: 70%;
        height: 165px;
    }

    #explainText {
        font-size: 60%;
    }

    #elimLetterHolder {
        font-size: 98%;
    }

    #eliminated {
        display: block;
        width: 70%;
        height: 130px;
    }

    /* MsgBox */
     
     #msgBox {
        margin-top: 2em;
         font-size: 80%;
     }

     /* Keyboard */

     .keys {
        height: 40px;
        min-width: 40px;
        padding: 0.3em;
        font-size: 80%;
    }
     
     #onScreenKB {
        margin-top: 0.5em;
     }
 }

 @media (min-width: 1190px) {
    #explainGuess {
        height: 175px;
    }

    #explainText {
        font-size: 70%;
    }
 }
